/*
Design by LLB GROUP
MET BKC IOE
For Educational Use
*/

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:bold;
    color: #06639e;
    text-decoration:underline;
}

a:hover{
    text-decoration: underline;
    color: #000000;
}

*
{
    border: 0;
    margin: 0;
}

table,input,table a,table td
{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.content_box
{	
	margin-left:1%;
	float:left;
	width:98%;
}
body
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height: 20px;
    background-repeat:repeat-x;
    background-position: top;
}
#bodybg
{
    font: 12px Arial, Helvetica, sans-serif;
    color: #000000;
    line-height: 20px;
	/*background: #eb01a5;*/
	/*background-image: url(../images/background.jpg);
	background-image: url(../images/background.jpg), linear-gradient(#eb01a5, #d13531);*/
	background-image: url(../images/background.jpg);
	background-position:center;
	background-size:cover;
}

#mainbg{
   /* width: 1016px;
   height: 700px;*/
	margin: 0.5%;
	
}

#main{
    margin: 0.5%;
    /*width: 1016px;*/
	/*height:610px;*/
    padding-top: 10px;
}

#header{
   /* background: url(../images/header.jpg);*/
   /* background: url(../images/header_lebal7.jpg);*/
 	background-repeat: no-repeat;
    background-position: top;
    width: 100%;
}

#logo{
   /* width: 1016px;*/
    margin: 0.5%;
    text-align: left;
	font-size: 20px;
    height: 5%;
}

#logo a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-style: italic;
    font-size: 16px;
    color: #ffffff;
    font-weight: normal;
    padding-left: 20px;
}

#logo H2 a{
    font-size: 10px;
}

#buttons{
    /*width: 1016px;*/
    height: 10px;
    margin: 0.1%;
    padding-top: 10px;
    /*background: url(../images/menubg.png);*/
    background-repeat: repeat-x;
    background-position:;
	
	
}

#buttons ul {
    padding-left: 0px;
	
}

#buttons li {
    display:inline ;;
	
}

#buttons a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color:#000;
    display: inline-block;
    float: right;
    width: 5px;;
    /*height: 37px;*/
    padding-top: 19px;
    margin-top: 0px;
}

#buttons a:hover, .active{
   background: url(../images/menu_h.jpg);
   background-repeat: no-repeat;
   background-position: center;
   color:#FFF;
}



#left{
    width:249px;
    padding-left: 1px;
    float: left;
}

.left_bg h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    color: #ffffff;
    font-size: 16px;
    text-align:center;
    height: 27px;
    padding-top: 10px;
    background-color:#229dff;
    background-repeat:no-repeat;
    background-position:top left;
}

#left .company{
    padding-top: 10px;
}

.numleft{
    background: url(../images/numbg.png);
    background-repeat: no-repeat;
    background-position: left top;
    float:left;
    width: 37px;
    min-height: 37px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin: 0px 8px 0px 8px;
}

.numleft p{
    padding-top: 10px;
}

.newsright{
    padding-left: 53px;
    padding-right: 10px;
	font-size:14px;
}
.newsright ul li
{
	border-bottom: 1px dotted #979797;
}

#left .read a{
    color: #06639e;
    font-weight:normal;
    font-style: italic;
    font-size: 12px;
    text-decoration:none;
    border-bottom: 1px dotted #06639e;
    margin-right: 10px;
}

.left_grad{
    background-color:rgba(0,0,0,0.8);
    background-position: top left;
    min-height: 130px;
}

.left_bg{
    width:19%;
    padding-left: 1px;
    float: left;
	/*background: url(../images/left_bg.png) repeat-y;*/
    background-position:left;
}

.left_bot{
    background: url(../images/left_bot.png) repeat-y;
    background-position:left top;
    height: 5px;
    margin-bottom: 10px;
}
#center1{
    width:64%;
    padding-left: 10px;
    float:left;
}

#center{}
/*
		background-color:#69F;
		padding-top:20px;
	}*/
#center p{
    padding-left:0px;
    padding-right:0px;
    padding-bottom: 10px;
}

.text{
    padding: 10px;
    background: rgba(0,0,0,0.8);/*url(../images/text_bg.png);*/
    background-position: bottom;
    background-repeat: repeat-x;
    min-height: 50px;
}



.empty{}
#center H1,.empty h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    color: #229dff;
    font-size: 16px;
    height: 36px;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    background-color:rgba(0,0,0,0.8);
    background-repeat:no-repeat;
    background-position: top;
}

.read{
    text-align: right;
    padding-bottom:5px;
    padding-right: 5px;
}

#center .read,.empty .read{
    height: 20px;
    padding-top: 3px;
    background-color:rgba(0,0,0,0.8);
    background-repeat: no-repeat;
    background-position: top;
}

#center .read a{
    color: #ffffff;
    font-weight:normal;
    font-style: italic;
    font-size: 12px;
    padding-right: 15px;
    text-decoration:none;

}


/*
#center1{
    width: 64%;
    padding-left: 10px;
    float:left;
}

#center{}
#center p{
    padding-left:0px;
    padding-right:0px;
    padding-bottom: 10px;
}

.text{
    padding: 10px;
    background: #ffffff url(../images/text_bg.png);
    background-position: bottom;
    background-repeat: repeat-x;
    min-height: 64px;
}


.empty{}
#center H1,.empty h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    color: #00456e;
    font-size: 16px;
    height: 36px;
    width: 64%;
    padding-top: 10px;
    padding-left: 10px;
    background: url(../images/title_center.png);
    background-repeat:no-repeat;
    background-position: top;
}

.read{
    text-align: right;
    padding-bottom:5px;
    padding-right: 5px;
}

#center .read,.empty .read{
    height: 26px;
    padding-top: 3px;
    background: url(../images/read.png);
    background-repeat: no-repeat;
    background-position: top;
}

#center .read a{
    color: #ffffff;
    font-weight:normal;
    font-style: italic;
    font-size: 12px;
    padding-right: 15px;
    text-decoration:none;

}
*/
.read a:hover{
    text-decoration:underline;
}
/*
#right{
    width:198px;
    padding-right: 1px;
    float:right;
}*/

.right_bg h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    color: #ffffff;
    font-size: 16px;
    text-align:center;
    height: 27px;
    padding-top: 10px;
    background-color:#229dff;
    background-repeat:no-repeat;
    background-position:top left;
}
.text th
{
	width:50px;
	text-align:left;
	border:double #229ffd;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px
}
.text td
{
	width:50px;
	text-align:center;
	border:thin #C00;
}

.right_grad{
    background-color:rgba(0,0,0,0.8);
    background-position: top left;
    min-height: 100px;
}

.right_bg{
    /*background: url(../images/right_bg.png) repeat-y;*/
	width:15%;
    padding-right: 1px;
    float:right;
    background-position:left;
}

.right_bot{
    background: url(../images/right_bot.png) repeat-y;
    background-position:left top;
    height: 4px;
    margin-bottom: 10px;
}

.categories{


}

.categories a{
    font-weight: bold;
	font-size:15px;
    color: white;
    text-decoration: none;
}

.categories ul{
    padding-left: 5px;
    padding-right: 5px;
	
}

.categories ul li{
    list-style: none;
    padding: 3px 5px 3px 5px;
	background: url(../images/ls1.png);
    background-repeat: no-repeat;
    background-position: 0px 11px;
    border-bottom: 1px dotted #979797;
	color:#000;
}

.recent a{
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

.recent ul{
    padding-left: 10px;
    padding-right: 10px;
}

.recent ul li{
    list-style: none;
    padding: 3px 5px 3px 13px;
    background: url(../images/ls1.png);
    background-repeat: no-repeat;
    background-position: 0px 11px;
}

#footer
{
    height: 50px;
    font-size: 10px;
    color: white;
    padding-top: 10px;
    text-align: center;
    clear:both;
    background-color:rgba(0,0,0,0.8);
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 1px;
    padding-bottom: 5px;
}

#footer a{
    color: #ffffff;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
	color:white;
}
.padding{
    padding: 10px;
    color:#FF0000;
    font-weight: bold;
}
#login{
	position:absolute;
	right:200px;
	top:150px;
}

